:root {
    /*
    En root se crean las variables de color, fuentes y escalas de tamaños
    */

    --color-primary: rgb(13, 12, 20);
    --color-secondary: rgb(45, 99, 63);
    --color-hover: rgb(40, 177, 86);

    --font-global: font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --size-xl: 2.5rem;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




h1,
h2 {
    color: rgb(156, 194, 156);
    font-weight: 900;
    background-color: rgb(38, 42, 54);
    padding: 0.4em;
    font-family: var(--font-global)
}

h1{
    font-size: var(--size-xl);
}

p {

    width: 50%;
}

ul {
    list-style: none;

}

/*
:nth-child(2n){ selecciona pares

}

[title ^='párrafo'] selecciona los que empiecen por párrafo
[title $='párrafo'] selecciona los que terminen por párrafo
[title *='párrafo'] selecciona los que contengan párrafo

:where(section, article) ----> where le quita especificidad
:is(section, article) :is(h1, h2, h3) ----> toma una lista de selectores y selecciona los elementos
a:has(> img) {} ----> selecciona los elementos(hijo) que contiene el selector

*/

main{

    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: baseline ;
    
    
    
}
:is(header,section,footer){
    border-radius: 0.5em;
    text-align: center;
    
    

}


header{
    
    
    padding: 1em;
    background-color: lightgreen;
    
    
}
div{
    display: flex;
    gap: 0.5em;
    flex-grow: 1;

}

section{

    margin-top: 0.5rem;
    flex-basis: 49.5%;
    background-color: lightblue;

    

}

footer{
    margin-top: 0.5rem;
    
    padding: 1rem;
    background-color: lightslategray;
}



p{
    
    text-align: center;
    
}


